<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.css">
  <title>Flex</title>
</head>

<body>
  <div class="container">
    <header class="header">
      lorem
    </header>

    <main class="main">
      <aside class="aside">
        menu
      </aside>
      <div class="content">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio molestias accusamus sed tenetur illum mollitia
        optio fuga numquam sequi iusto reiciendis ipsa itaque molestiae similique cum, eveniet ea omnis corporis!
      </div>
    </main>

    <footer class="footer">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt voluptatum impedit facere excepturi neque dolore
      amet odit minima nisi officia unde placeat asperiores atque reiciendis dignissimos iure, fugit, a itaque!
    </footer>
  </div>
</body>

</html>